body
{
    background-color: darkviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

h1
{
    color: aliceblue;
}

header
{
    border: 2px solid black;
    background-color: blanchedalmond;
}

main, footer
{
    border: 2px solid black;
}